/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 20px !important; /* 0 cho top/bottom, 20px cho left/right */
}

.roadmap ul {
  list-style: none;
  padding: 0;
}

.roadmap li {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.roadmap li a {
  font-weight: bold;
  color:  #0366d6;
}

.roadmap li p {
  margin: 0.5rem 0 0;
  color: #666;
}